@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    flex: 0 1 auto;
}

nav{
    background-color: #474E68;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    gap: 1rem;
}

.app-logo{
    width: 2.8rem;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}


main{
    flex: 1 1 auto;
    background-color: #404258;
}

.invite-container{
    text-align: center;
    margin-top: 5rem;
}

.invite-container input{
    width: 50%;
    font-size: 1.4rem;
    text-align: center;
    outline: none;
    padding: .5rem;
    border-radius: 10px;
    background-color: #50577A;
    border: 0;
    color: #ffff;

}

.user-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    gap: 1rem;
    font-size: 1.4rem;
}

.chat-container{
    height: 100%;
    display: none;
    flex-direction: column;

}

.msg-container{
    flex: 1 1 0;
    padding: 2rem 1rem;
    overflow-y: scroll;
}

.msg{
    background-color: #6B728E;
    padding: 1rem;
    width: fit-content;
    max-width: 35rem;
    overflow-wrap: break-word ;
    border-radius: 10px;
    margin-top: .5rem;
}

.new-user{
    text-align: center;
    color: #7984b8;
    clear: both;
    margin-top: .5rem;
}

.right{
    float: right;
    clear: both;
}

.left{
    float: left;
    clear: both;
}

.send-form{
    flex: 0 1 4rem;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
}

.msg-input, .user-input{
    width: 60vw;
    font-size: 1.2rem;
    outline: none;
    padding: .5rem;
    border-radius: 10px;
    border: 0;
    background-color: #50577A;
    color: #ffff;
}

.user-input{
    width: 15rem;
    text-align: center;
}

.btn{
    background-color: #227C70;
    color: #ffff;
    border: 0;
    padding: .5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .4s;
    outline: none;

}

.btn:hover{
    background-color: #34b2a1;
}

footer{
    flex: 0 1 2rem;
    background-color: #474E68;
    padding: 1rem;
    text-align: center;
}

.copyright{
    color: #BAD7E9;
    text-decoration: none;
}

@media screen and (max-width: 750px){
    .msg{
      max-width: 15rem;
    }
  }